#header {
font-size: 100px;
background-image: url(img/pattern.jpeg);
font-family: Helvetica;
font-weight: bold;
color: khaki;
text-align: center;
}

#brushes, #frames, #paint {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

#blue {
  font-family: Helvitica;
  font-weight: bold;
  color: blue;
}